################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/Web_11/bin/Debug/netcoreapp3.1
/.vscode
/Web_11/obj
/.vs/Web_11
