@model Web_11.Models.data.ThongTinXepHang

@{
    ViewData["Title"] = "Edit";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Edit</h1>

<h4>ThongTinXepHang</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="IdThuTu" />
            <div class="form-group">
                <label asp-for="IdDoiBong" class="control-label"></label>
                <select asp-for="IdDoiBong" class="form-control" asp-items="ViewBag.IdDoiBong"></select>
                <span asp-validation-for="IdDoiBong" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="SoTran" class="control-label"></label>
                <input asp-for="SoTran" class="form-control" />
                <span asp-validation-for="SoTran" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Thang" class="control-label"></label>
                <input asp-for="Thang" class="form-control" />
                <span asp-validation-for="Thang" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Hoa" class="control-label"></label>
                <input asp-for="Hoa" class="form-control" />
                <span asp-validation-for="Hoa" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Thua" class="control-label"></label>
                <input asp-for="Thua" class="form-control" />
                <span asp-validation-for="Thua" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="HieuSo" class="control-label"></label>
                <input asp-for="HieuSo" class="form-control" />
                <span asp-validation-for="HieuSo" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Diem" class="control-label"></label>
                <input asp-for="Diem" class="form-control" />
                <span asp-validation-for="Diem" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
