/* .achievement{
    list-style: none;
}
.achievement-small{
    list-style: none;
}
.achievement-small li{
    margin-left: 25px;
} */




/* Thông tin đội bóng */
div.container .TTDB {
    width: 100%;  
    margin: auto;  
}
/* định dạng thẻ div chưa các button tab */
div.tab {
    overflow: hidden; 
    border: 2px solid ; 
    background-color: #f1f1f1; 
}

/* định dạng các button tab */
div.tab button {
    background-color: inherit; 
    float: left;
    border: none;
    outline: none;
    cursor: pointer;
    padding: 14px 16px;
    transition: 0.2s;
    font-size: 17px;
}

/* đổi màu khi một button tab được hover */
div.tab button:hover {
    background-color: #8ce88c;
}

/* đổi màu nền cho tab đang được hiển thị nội dung */
div.tab button.active {
    background-color: #33d633;
}

/* định dạng nội dung hiển thị */
.tabcontent {
    display: none;
    padding: 6px 12px;
    border: 2px solid #ccc;
    border-top: none;
    /* height:750px; */

}
/* ----------------- */





.hidden-lg{
    display: none;
}
.player-profile p{
    text-align: center;
    font-size: 75%;
}
/* .team-achievement .inside{
    list-style: circle;
}
.team-achievement .main-inside{
    list-style: disc;
} */
.sponsor-1 .donor-item{
    display: flex;
    list-style: none;
    margin: auto;
    width: 60%;
    justify-content: space-between;
    padding: 0px;
}
.sponsor-2 .donor-item{
    display: flex;
    list-style: none;
    margin: auto;
    width: 75%;
    justify-content: space-between;
    padding: 0px;
}
.contact-item{
    display: flex;
    list-style: none;
    margin: auto;
    width: 50%;
    justify-content: space-between;
    padding: 0px;
}
@media only screen and (max-width:738px){
    .player-profile img{
        width: 80%;
    }
    .player-profile img{
        margin: auto;
    }
    .player-profile{
        text-align: center;
        font-size: 100%;
    }
}