<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>Chọn sân</title>
    <link rel="stylesheet" href="Mua vé.css">
    <link rel="stylesheet" href="https://pro.fontawesome.com/releases/v5.10.0/css/all.css"
          integrity="sha384-AYmEC3Yw5cVb3ZcuHtOA93w35dYTsvhLPVnYs9eStHfGJvOvKxVfELGroGkvsg+p" crossorigin="anonymous" />
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css"
          integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">
</head>

<body>
    </div>
    <!-- End Header -->
    <!-- start body 1 -->
    <div class="body1">
        <div class="container">
            <marquee width="100%" behavior="alternate" direction="left">
                <div class="row rounded-sm">

                    <!-- start cột 4 -->
                    <div class="col-xs-4 col-sm-4 col-md-4 col-lg-4 mt-3">
                        <div class="ngaygio">
                            <h5>Ngày Mai</h5>
                            <p>00 : 00</p>
                        </div>
                    </div>
                    <!-- end cột 4 -->
                    <!-- start cột 8 -->
                    <div class="col-xs-8 col-sm-8 col-md-8 col-lg-8 mt-3 text-left">
                        <div class="haidoi mt-3">
                            <h5>Vòng đấu 1: Liverpool vs Leeds</h5>
                        </div>
                    </div>

                    <!-- end cột 8 -->
                </div>
            </marquee>
        </div>
    </div>

    <!-- end body 1-->
    <!-- start body 2 -->
    <div class="body2">
        <div class="container">
            <div class="row rounded-sm">
                <div class="col-sm-12 col-md-7 col-lg-7">
                    <div class="row mb-5 mt-5 ">
                        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                            <ul class="Item-CĐ">
                                <li class="Title-CĐ">
                                    <img src="https://danhgianhacai.com/uploads/blog-bong-da/logo-cac-doi-bong-ngoai-hang-anh/logo-liverpool.jpg" class="rounded-sm img-CĐ img-fluid" alt="Liverpool">
                                </li>
                                <li class="Title-CĐ Title-Vs">
                                    <p>VS</p>
                                </li>
                                <li class="Title-CĐ">
                                    <img src="https://i.pinimg.com/originals/30/b5/49/30b54999b098050158ed13a1ecdcaab0.jpg" class="rounded-sm img-CĐ img-fluid" alt="MU">
                                </li>
                            </ul>
                        </div>


                        <!-- <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6 mb-5   text-center clb">
                            <img src="https://danhgianhacai.com/uploads/blog-bong-da/logo-cac-doi-bong-ngoai-hang-anh/logo-liverpool.jpg" width="100" height="100" class="rounded-sm img-responsive" alt="Liverpool">
                        </div>
                        <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6 mb-5  text-center clb">
                            <img src="https://i.pinimg.com/originals/30/b5/49/30b54999b098050158ed13a1ecdcaab0.jpg" width="100" height="100" class="rounded-sm img-responsive" alt="MU">
                        </div> -->
                    </div>
                    <hr class="ngan">
                    <div class="row">
                        <div class="col-sm-12 col-md-12 col-lg-12">
                            <table class="table table-width table-hover">
                                <thead class="thead-dark">
                                    <tr>
                                        <!-- <th scope="col">STT</th> -->
                                        <th scope="col">loại vé</th>
                                        <th scope="col">Trạng thái</th>
                                        <th scope="col">Số lượng</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr>
                                        <!-- <th scope="row">1</th> -->
                                        <td><div class="item"><input type="checkbox" class="radio-item" checked> Khán đài A</div></td>
                                        <td>Còn vé</td>
                                        <td><input type="number" style="width:50px" min="0"></td>
                                    </tr>
                                    <tr>
                                        <!-- <th scope="row">2</th> -->
                                        <td> <div class="item"><input type="checkbox" class="radio-item"> Khán đài B</div></td>
                                        <td>Còn vé</td>
                                        <td><input type="number" style="width:50px" min="0"></td>
                                    </tr>
                                    <tr>
                                        <!-- <th scope="row">3</th> -->
                                        <td><div class="item"><input type="checkbox" class="radio-item"> Khán đài C</div></td>
                                        <td>Còn vé</td>
                                        <td><input type="number" style="width:50px" min="0"></td>
                                    </tr>
                                    <tr>
                                        <!-- <th scope="row">3</th> -->
                                        <td><div class="item"><input type="checkbox" class="radio-item"> Khán đài D</div></td>
                                        <td>Còn vé</td>
                                        <td><input type="number" style="width:50px" min="0"></td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>

                    </div>


                    <hr class="ngan">

                    <div class="row">
                        <div class="col-sm-12 col-md-12 col-lg-12">
                            <div class="alert alert-primary" role="alert">
                                <div class="item-tt"><input type="checkbox" class="radio-item" checked>Thanh Toán Trực Tiếp Bằng Tiền Mặt</div>
                            </div>
                            <div class="alert alert-success" role="alert">
                                <div class="item-tt"><input type="checkbox" class="radio-item">Thanh Toán Trực Tiếp Bằng Thẻ Ngân Hàng</div>
                            </div>
                        </div>
                    </div>
                </div>


                <div class="col-sm-12 col-md-5 col-lg-5 border-KC">
                    <div class="row mb-2 mt-2 ">
                        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                            <h2>Sơ đồ ra sân</h2>
                            <div class="SĐCN">
                                <img src="https://media.thethao247.vn/origin_414x0/upload/vuongnh/2018/11/26/vexem.jpg" class="img-SDĐB pt-2 ">
                            </div>
                        </div>
                    </div>
                    <hr class="ngan">
                    <div class="row">
                        <div class="col-sm-12 col-md-12 col-lg-12">
                            <table class="table">
                                <!-- <thead>
                                  <tr>
                                    <th scope="col">#</th>
                                    <th scope="col">First</th>
                                    <th scope="col">Last</th>
                                    <th scope="col">Handle</th>
                                  </tr>
                                </thead> -->
                                <tbody>
                                    <tr>
                                        <th scope="row">Vòng đấu 1:</th>
                                        <td></td>
                                        <td></td>
                                        <td>Liverpool vs Mu</td>
                                    </tr>
                                    <tr>
                                        <th scope="row">Mệnh giá:</th>
                                        <td></td>
                                        <td></td>
                                        <td>500-000đ-Khán đài A</td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                    <hr class="ngan">
                    <div class="row">
                        <div class="col-sm-12 col-md-12 col-lg-12">
                            <table class="table">
                                <!-- <thead>
                                  <tr>
                                    <th scope="col">#</th>
                                    <th scope="col">First</th>
                                    <th scope="col">Last</th>
                                    <th scope="col">Handle</th>
                                  </tr>
                                </thead> -->
                                <tbody>
                                    <tr>
                                        <th scope="row">Phí dịch vụ:</th>
                                        <td></td>
                                        <td></td>
                                        <td>0đ</td>
                                    </tr>
                                    <tr>
                                        <th scope="row">Phí vận chuyển:</th>
                                        <td></td>
                                        <td></td>
                                        <td>0đ</td>
                                    </tr>
                                    <tr>
                                        <th scope="row">Thành tiền:</th>
                                        <td></td>
                                        <td></td>
                                        <td>500.000đ</td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>


                    <hr class="ngan">
                    <div class="row text-center">
                        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                            <p>
                                <button class="btn btn-primary" type="button" data-toggle="collapse" data-target="#collapseExample" aria-expanded="false" aria-controls="collapseExample">
                                    Điều khoản thanh toán
                                </button>
                            </p>
                            <div class="collapse" id="collapseExample">
                                <div class="card card-body">
                                    -không hoàn trả tiền khi đã mua vé<br>
                                    -Xuất trình vé khi đến sân xem bóng đá
                                </div>
                            </div>
                            <button class="btn btn-danger nut">Thanh Toán</button>
                        </div>
                    </div>
                </div>

            </div>
        </div>


    </div>

    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"
            integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj"
            crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js"
            integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN"
            crossorigin="anonymous"></script>
    <script src="../Đồ Án 2/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"
            integrity="sha384-B4gt1jrGC7Jh4AgTPSdUtOBvfO8shuf57BaghqFfPlYxofvL8/KUEfYiJOMMV+rV"
            crossorigin="anonymous"></script>
</body>

</html>